html, body {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, main, section, article, header, footer,
aside, div, p, h1, h2, h3, h4, h5, h6,
table, tr, td, ul, ol, li,
a, span, i, em, img, button, input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:before, html:after, body:before, body:after, main:before, main:after, section:before, section:after, article:before, article:after, header:before, header:after, footer:before, footer:after,
aside:before,
aside:after, div:before, div:after, p:before, p:after, h1:before, h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after,
table:before,
table:after, tr:before, tr:after, td:before, td:after, ul:before, ul:after, ol:before, ol:after, li:before, li:after,
a:before,
a:after, span:before, span:after, i:before, i:after, em:before, em:after, img:before, img:after, button:before, button:after, input:before, input:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

pre:before, pre:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}