@import '@/styles/common/var.scss';
@import '@/styles/mixins/mixins.scss';
@import '@/styles/transition.scss'; // 路由效果

body {
  background-color: $--color-main-bg;
}

// 修改loading-bar的颜色为主色调
.qian-loading-bar-inner-color-primary {
  background-color: $--color-main !important;
}

a {
  color: $--color-text-primary;
}

@include b(relative) {
  position: relative;
}
@include b(mgt) {
  margin-top: 15px;
}
@include b(mgb) {
  margin-bottom: 15px;
}
@include b(pdl) {
  padding-left: 15px;
}

@include utils-scrollbar();

// 容器
@include b(container) {
  margin: 0 auto;
  max-width: 890px;
  @include res(lg) {
    min-width: 1190px;
  }
  @include m(pd) {
    padding-top: 40px;
  }
}
